@model IEnumerable<COVID.Models.trabajador>
@{
    ViewBag.Title = "Inicio";
}
    <script>
        function BotonesVisibles() {
            MarcaVulnerable();
            var _mdiario = document.getElementById("mdiario").value;
            var _estuveencontacto = document.getElementById("estuveencontacto").value;
            //var _dipositivo = document.getElementById("dipositivo").value;
            var _regresar = document.getElementById("regresar").value;
            var _regresarm = document.getElementById("regresaralmonitoreo").value;
            var _regresarsospechoso = document.getElementById("regresarsospecha").value;
            var _regresarpositivo = document.getElementById("regresarpositivo").value;
            1
            if (_regresarm == 0) {
                document.getElementById("regresar").style.display = "block";
            }
            if (_regresarm == 1) {
                document.getElementById("autoevaluacion").style.display = "block";
                document.getElementById("monitoreoporsistomas").style.display = "none";
                document.getElementById("monitoreoporcontacto").style.display = "none";
                document.getElementById("tuvecontacto").style.display = "none";
                document.getElementById("salipositivo").style.display = "none";
                return;
            }
            if (_regresarsospechoso == 1) {
                document.getElementById("autoevaluacion").style.display = "none";
                document.getElementById("monitoreoporsistomas").style.display = "none";
                document.getElementById("monitoreoporcontacto").style.display = "block";
                document.getElementById("tuvecontacto").style.display = "none";
                document.getElementById("salipositivo").style.display = "none";
                return;
            }
            if (_regresarpositivo == 1) {
                document.getElementById("autoevaluacion").style.display = "none";
                document.getElementById("monitoreoporsistomas").style.display = "none";
                document.getElementById("monitoreoporcontacto").style.display = "none";
                document.getElementById("tuvecontacto").style.display = "none";
                document.getElementById("salipositivo").style.display = "block";
                return;
            }
        }
        function MarcaVulnerable() {
            var _vulnerable = document.getElementById("vulnerable").value;
            if (_vulnerable == 1) {
                document.getElementById("personalvulne").checked = 'true';
            }
        }
        function solonum(e) {
            var key = e.keyCode || e.which,
                tecla = String.fromCharCode(key).toLowerCase(),
                letras = "0123456789",
                especiales = [8, 37, 39, 46],
                tecla_especial = false;

            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }
        function soloLetras(e) {
            var key = e.keyCode || e.which,
                tecla = String.fromCharCode(key).toLowerCase(),
                letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
                especiales = [8, 37, 39, 46],
                tecla_especial = false;

            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }
    </script>
<style>
    /*label {
        display: inline-block;
        width: 140px;
    }*/
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 30px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        width: 40%;
        height: 20%;
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #10c0f1;
    }

        .button1:hover {
            background-color: #10c0f1;
            color: black;
        }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #169abe;
    }

        .button2:hover {
            background-color: #169abe;
            color: black;
        }

    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #ffd800;
    }

        .button3:hover {
            background-color: #ffd800;
            color: black;
        }

    .button4 {
        background-color: white;
        color: black;
        border: 2px solid #ffd800;
    }

        .button4:hover {
            background-color: #ffd800;
            color: black;
        }

    .button5 {
        background-color: white;
        color: black;
        border: 2px solid #D00202;
    }

        .button5:hover {
            background-color: #D00202;
            color: black;
        }
</style>
<div style="height:50px;"></div>
<h2 style="text-align:center;">MONITOREO DIARIO DE SALUD</h2>
<div style="height:30px;"></div>
<!--PRUEBA GITHUB!!-->
@using (Html.BeginForm("Update", "Home", FormMethod.Get))
{
    <form >
        <div>
            <p>En Sultana queremos garantizar la seguridad y salud de todos nuestros colaboradores, 
            por lo cual el llenado de la <strong>AUTOEVALUACIÓN DIARIA es de carácter obligatorio.</strong>
            </p>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <label>Número de Nómina:</label>
                    <input type="text" maxlength="7" value="@ViewData["Nomina"]" name="nomina1" id="nomina" onkeypress="return solonum(event)" class="form-control" required autocomplete="off" disabled />
                </div>
                @*<div class="col-md-3">
                <div style="height:25px;"></div>
                    <button type="submit" class="btn btn-primary col-md-3 form-control" name="buscar" value="1">Buscar</button>
                 </div>*@
                <div class="col-md-3">
                    <div style="height:15px;"></div>
                    <label>Nombre Empleado:</label>
                    @foreach (var item in Model)
                    {
                        <label name="nombre">@Html.DisplayFor(modelItem => item.Nombre)</label>
                    }
                </div>
                <div class="col-md-3">
                    <label>Teléfono:</label>
                    <input class="form-control" name="telefono" id="telefono" value="@ViewData["Telefono"]" type="text" maxlength="10" onkeypress="return solonum(event)" required/>
                </div>
                <div class="col-md-3">
                    <label>Sitio:</label>
                    <div>
                        @Html.DropDownList("sitio", (IEnumerable<SelectListItem>)ViewBag.sitioList, "--Sitio de Trabajo--", new { @class = "form-control", @ViewData = "Sitio", required = "--Sitio de Trabajo--" })
                    </div>
                </div>
            </div>
            <div style="height:10px;"></div>
            <div class="row">
                
                <div class="col-md-3">
                    <label>Área:</label>
                    <div>
                        @Html.DropDownList("area", (IEnumerable<SelectListItem>)ViewBag.areaList, "--Area de Trabajo--", new { @class = "form-control", @ViewData = "Area", required = "--Area de Trabajo--" })
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Proceso de Trabajo:</label>
                    <div>
                        @Html.DropDownList("proceso", (IEnumerable<SelectListItem>)ViewBag.procList, "--Proceso de Trabajo--", new { @class = "form-control", @ViewData = "Proceso", required = "--Proceso de Trabajo--" })
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Turno:</label>
                    <div>
                        @Html.DropDownList("turno", (IEnumerable<SelectListItem>)ViewBag.turnoList, "--Turno de Trabajo--", new { @class = "form-control", @ViewData = "Turno", required = "--Turno de Trabajo--" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="height:25px;"></div>
                    <div>
                        <label style="color:#fc0f03;"><input type="checkbox" id="personalvulne" name="personalvulne" value="1"/> Soy persona vulnerable</label>
                        <input class="form-control" name="vulnerable" id="vulnerable" type="hidden" value="@ViewData["Vulnerable"]" />
                    </div>
                </div>
                    
                <div style="height:25px;"></div>
            </div>
            <div style="height:20px;"></div>
            <div>
                @*<button type="submit" class="btn btn-danger btn form-control"> Siguiente </button>*@
                <button type="submit" id="autoevaluacion" style="display:none;" class="button button1" name="boton" value="1" onclick="">Auto evaluación diaria</button>
                <button type="submit" id="monitoreoporsistomas" style="display:none;" class="button button2" name="boton" value="2">Monitoreo por sintomas</button>
                <button type="submit" id="tuvecontacto" style="display:none;" class="button button3" name="boton" value="3">Soy sospechoso de COVID-19 (Por resultado POSITIVO en prueba rápida o contacto con persona Sospechosa o Confirmada con COVID-19)</button>
                <button type="submit" id="monitoreoporcontacto" style="display:none;" class="button button4" name="boton" value="4">Soy sospechoso de COVID-19 (Por resultado POSITIVO en prueba rápida o contacto con persona Sospechosa o Confirmada con COVID-19)</button>
                <button type="submit" id="salipositivo" style="display:none;" class="button button5" name="boton" value="5">Salí positivo en la prueba PCR COVID19</button>
                <button type="submit" id="regresar" style="display:none;" class="button button1" name="boton" value="6">Regresar a Monitoreo Diario</button>
                @*<button type="submit" id="prueba" class="button" name="boton" value="9">BLABLABLA</button>*@

                <input class="form-control" name="mdiario" id="mdiario" type="hidden" value="@ViewData["MDiario"]" />
                <input class="form-control" name="estuveencontacto" id="estuveencontacto" value="@ViewData["Estuvencontacto"]" type="hidden" />
                <input class="form-control" name="dipositivo" id="dipositivo" type="hidden" value="@ViewData["Dipositivo"]" />
                <input class="form-control" name="regresar" id="regresaralmonitoreo" type="hidden" value="@ViewData["Regresar"]" />
                <input class="form-control" name="regresars" id="regresarsospecha" type="hidden" value="@ViewData["RegresarSospecha"]" />
                <input class="form-control" name="regresarp" id="regresarpositivo" type="hidden" value="@ViewData["RegresarPositivo"]" />
            </div>
        </div>
    </form>
    <div style="height:20px;"></div>
    @*<div>
        <button onclick="location.href='@Url.Action("Index","Home")'" class="form-control btn btn-primary">Regresar</button>
    </div>*@
}

<!--HOLAAAAAAAAA ESTO ES UNA PRUEBA PARA EL COMIIT-->






