
@{ ViewBag.Title = "SigueConTuVida"; }
<style>
    li {
        text-align: justify;
    }


    /*label {
            display: inline-block;
            width: 140px;
        }*/
    .button {
        border: 1px solid #267226;
        background-color: #24A616; /* Green */
        color: white;
        padding: 30px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        width: 100%;
        height: 20%;
    }

    .button1 {
        background-color: #24A616;
        color: white;
        border: 2px solid #267226;
    }

        .button1:hover {
            background-color: #24A616;
            color: white;
        }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #169abe;
    }

        .button2:hover {
            background-color: #169abe;
            color: black;
        }

    .button3 {
        background-color: white;
        color: black;
        border: 2px solid #ffd800;
    }

        .button3:hover {
            background-color: #ffd800;
            color: black;
        }

    .button4 {
        background-color: white;
        color: black;
        border: 2px solid #ffd800;
    }

        .button4:hover {
            background-color: #ffd800;
            color: black;
        }

    .button5 {
        background-color: white;
        color: black;
        border: 2px solid #ff0000;
    }

        .button5:hover {
            background-color: #ff0000;
            color: black;
        }
</style>
<div style="height:50px;"></div>
<!--<h2 style="text-align:center;">RECOMENDACIONES</h2>-->


<div class="button button1">
    <div style="text-align:center;">
        @*<p style="font-size:10px;"> @DateTime.Now.ToString("ddMM") - @ViewData["nomina"] - <label id="shortname" style="font-weight: normal;text-transform:uppercase"></label></p>*@
        <p style="font-size:60px;">@DateTime.Now.ToString("dd - MMM").ToUpper()</p>
        <svg id="barcode"></svg>
        <br />
        <label style="font-size:25px;"><strong>@ViewData["nomina"]</strong></label>
        <input type="text" id="nomi" value="@ViewData["nomina"]" hidden />
        <br /> <br />
        <label style="font-size: 25px;text-transform:uppercase;"> <strong>@ViewData["nombre"]</strong></label>
        <input type="text" id="name" value="@ViewData["nombre"]" hidden />
        <br /><br />
        <label style="font-size:15px;"><strong>¡Gracias por tu colaboración!</strong></label>
        <br />
        <br />
        <label style="font-size:15px;">
            Monitorea tu salud diariamente y sigue las medidas de prevención e higiene.
        </label>
        <br />
        <label style="font-size:16px;">
            Puedes asistir a trabajar sin problema.
        </label>
        <br /><br />
        <p style="font-size:10px;">@DateTime.Now.ToString("yyyy-MM-dd HH:mm tt").ToUpper()</p>
    </div>
</div>
<div style="height:25px"></div>
<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index","Home")'">SALIR</button>
</div>
<div style="height:25px"></div>

